{% extends 'app/base.html' %}
{% load static %}
{% block title %}Adresse{% endblock title %}
{% block main-content %}
<div class="container my-5">
    <div class="row">
        <h3>Bienvenue <span class="text-capitalize">{{ request.user }}</span></h3>


    <div class="col-sm-2 border-end">
        <ul class="list-unstyled">
            <li class="d-grid"><a href="{% url 'profile' %}" class="btn">Profil</a> </li>
            <li class="d-grid"><a href="{% url 'address' %}" class="btn btn-primary">Adresse</a></li>
        </ul>
    </div>

        <div class="col-sm-9 offset-sm-1">
            <div class="row">
                {% for ad in add %}
                    <div class="col-sm-6">
                    <div class="card m-2">
                    <div class="card-body">
                    <h3>Adresse {{ forloop.counter }}</h3>
                    <p>Nom: {{ ad.name }}</p>
                    <p>Pays: {{ ad.locality }}</p>
                    <p>Téléphone: {{ ad.mobile }}</p>
                    <p>Ville: {{ ad.city }}</p>
                    <p>Département: {{ ad.state }}</p>
                    <p>Code postal: {{ ad.zipcode }}</p>
                    <p class="text-center"><a href="{% url 'updateAddress' pk=ad.id %}"
                    type="button" class="btn btn-success">Mise à jour</a></p>
                    </div>
                    </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        </div>
        </div>
{% endblock main-content %}